.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.myGame{
    text-align: center;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    border: 3px solid;
    padding: 30px;
    width: 500px;
    border-radius: 10px;
    font-family:  Courier;
    font-size: 20px;
}
#player{
   color: blue;
}
#computer{
    color: red;
}
#result{
    color: darkblue;
}

.btn{
    line-height: 30px;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
}